@charset "UTF-8";
/*-------顏色變數--------*/
.font-r {
  font-size: 16px; }

.font-m {
  font-size: 20px; }

.font-l {
  font-size: 24px; }

.theme-color {
  background: #3D1101; }

.second-color {
  background: #efe9e7; }

.orange {
  background: #F56C23 !important; }

.button-gray {
  background: rgba(0, 0, 0, 0.35) !important; }

.text-color {
  color: #3D1101; }

.text-white {
  color: rgba(255, 255, 255, 0.9); }

.text-coffee {
  color: #3D1101; }

.text-orange {
  color: #F56C23; }

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/* Remove the inheritance of text transform in Edge, Firefox, and IE.
	 * 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
	 * Correct the inability to style clickable types in iOS and Safari.
	 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
	 * Remove the inner border and padding in Firefox.
	 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
	 * Restore the focus styles unset by the previous rule.
	 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/*-------mixin 常用技巧-------*/
.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.hide-text {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap; }

/*-------mixin 斷點-------*/
button[type=submit] {
  margin: 0;
  padding: 6px 22px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.35);
  border: 0 none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: inline-block; }

/*--layout-----------*/
.header {
  height: 420px;
  background: url(../assets/header_desktop.png);
  background-repeat: no-repeat; }
  .header h1 {
    float: left;
    background: url(../assets/logo_w.svg);
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    margin-top: 16px;
    margin-bottom: 0; }
  @media (max-width: 768px) {
    .header {
      background-position: 48% 0%; } }
  @media (max-width: 415px) {
    .header {
      background: url(../assets/header_mobile.png);
      background-position: 0% 0%; }
      .header h1 br {
        display: block; } }

.topbar {
  background: rgba(0, 0, 0, 0.75); }

.topmenu {
  float: right; }
  .topmenu li {
    float: left; }
    .topmenu li a {
      display: block;
      font-size: 16px;
      padding: 18px 10px;
      color: rgba(255, 255, 255, 0.9); }

@media (max-width: 415px) {
  .banner {
    padding-left: 2.5%;
    padding-right: 2.5%; } }

.banner-textBox {
  max-width: 460px;
  margin: 67px auto 0 auto;
  padding: 20px 22px 20px 24px;
  background: rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 0.9);
  text-align: center; }
  .banner-textBox h2 {
    font-size: 36px;
    margin-bottom: 16px;
    line-height: 1.2em; }
    @media (max-width: 376px) {
      .banner-textBox h2 {
        font-size: 32px; } }
  .banner-textBox p {
    line-height: 1.2em;
    color: rgba(255, 255, 255, 0.9); }
  .banner-textBox .line-break {
    display: none;
    content: ""; }
  @media (max-width: 415px) {
    .banner-textBox {
      padding: 20px 8spx; }
      .banner-textBox .line-break {
        display: block; } }

.footer {
  padding-top: 54px;
  padding-bottom: 70px; }
  .footer h1 {
    width: 245px;
    height: 49px;
    background: url(../assets/logo_l.svg);
    background-repeat: no-repeat;
    margin-bottom: 22px;
    margin-top: 0; }
  .footer h4 {
    font-size: 24px;
    margin-bottom: 22px;
    text-align: left;
    display: table; }

.info li {
  float: left;
  max-width: 320px; }
  @media (max-width: 860px) {
    .info li {
      max-width: 235px; } }

.info .about {
  padding-right: 22px; }

.info .contact {
  max-width: 205px; }
  .info .contact ul {
    max-width: 220px;
    list-style: disc;
    list-style-position: inside;
    display: inline-block; }
    .info .contact ul li {
      margin-bottom: 5px; }

.info .rightBox {
  float: right;
  text-align: right; }

.info .mediaBox {
  margin-right: 3px; }
  .info .mediaBox img {
    margin-left: 11px;
    width: 31px; }

@media (max-width: 737px) {
  .info > li {
    float: none;
    max-width: 80%;
    margin: 0 auto; }
  .info .about {
    margin-bottom: 30px; }
  .info .contact {
    max-width: 80%;
    margin: 0 auto 40px auto; }
  .info .rightBox {
    /*max-width: 80%;
			margin: 0 auto;
			float: right;
			text-align:left;*/ }
  .info .mediaBox {
    margin-right: 0px; }
    .info .mediaBox img {
      margin-left: 0px; } }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: 'MicrosoftJhengHeiRegular',微軟正黑體, sans-serif; }

h1 {
  margin: 0; }

h3, h4, h5, h6, p, li, a {
  color: #3D1101; }

h3, h4, h5 {
  text-align: center;
  font-weight: bold; }

p {
  line-height: 1.2em; }

.max-width {
  max-width: 1024px;
  margin: 0 auto; }

.fixed-width {
  padding-left: 42px;
  padding-right: 42px; }
  @media (max-width: 768px) {
    .fixed-width {
      padding-left: 1.8%;
      padding-right: 1.8%; } }
  @media (max-width: 415px) {
    .fixed-width {
      padding-left: 3%;
      padding-right: 3%; } }

.imgBox {
  float: left; }

.inline-block {
  display: inline-block !important; }

.border-none {
  border: none !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.no-margin-bottom {
  margin-bottom: 0; }

/*index content------*/
.secret {
  padding-top: 50px;
  padding-bottom: 50px; }
  .secret h4 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 32px; }
  .secret li {
    width: 33.33333%;
    float: left;
    padding-left: 30px;
    padding-right: 30px; }
    .secret li h5 {
      font-size: 18px;
      margin-bottom: 11px; }
    .secret li .imgBox {
      float: none;
      margin: 0 auto 24px auto;
      max-width: 200px;
      height: 200px;
      border-radius: 100px;
      overflow: hidden; }
  @media (max-width: 668px) {
    .secret li {
      width: 100%;
      margin: 0 auto 30px auto; }
      .secret li h5 {
        margin-top: 35px;
        margin-bottom: 15px;
        text-align: left;
        padding-left: 225px; }
      .secret li p {
        padding-left: 225px; }
      .secret li .imgBox {
        float: left;
        margin: 0 0 24px 0;
        max-width: 200px;
        height: 200px;
        border-radius: 100px;
        overflow: hidden; } }
  @media (max-width: 500px) {
    .secret li {
      float: none; }
      .secret li h5 {
        text-align: center;
        padding-left: 0px; }
      .secret li p {
        padding-left: 0px; }
      .secret li .imgBox {
        float: none;
        margin: 0 auto 24px auto;
        max-width: 200px;
        height: 200px;
        border-radius: 100px;
        overflow: hidden; } }

.todayChef .imgBox {
  max-width: 470px;
  height: 460px;
  float: left;
  overflow: hidden; }
  @media (max-width: 890px) {
    .todayChef .imgBox img {
      max-width: 470px;
      margin-left: -100px; } }
  @media (max-width: 767px) {
    .todayChef .imgBox {
      float: none;
      margin-left: -1.8%;
      margin-right: -1.8%;
      max-width: 103.6%; }
      .todayChef .imgBox img {
        margin-left: 0px;
        width: 100%;
        max-width: 100%; } }
  @media (max-width: 415px) {
    .todayChef .imgBox {
      margin-left: -3%;
      margin-right: -3%;
      max-width: 106%; }
      .todayChef .imgBox img {
        width: 490px;
        max-width: 490px;
        margin-left: -75px; } }

.todayChef .textBox {
  padding: 80px 0 30px 495px; }
  .todayChef .textBox h6 {
    color: #EFE9E7;
    margin-bottom: 16px; }
  .todayChef .textBox p {
    color: #EFE9E7; }
  @media (max-width: 890px) {
    .todayChef .textBox {
      padding: 60px 0 30px 395px; } }
  @media (max-width: 767px) {
    .todayChef .textBox {
      padding: 50px 0 30px 0px;
      margin: 0 auto;
      max-width: 80%; } }
  @media (max-width: 415px) {
    .todayChef .textBox {
      padding-bottom: 50px; } }

.feedback {
  padding: 50px 0; }
  .feedback h4 {
    margin-bottom: 32px;
    font-size: 24px;
    text-align: center; }
  .feedback h6 {
    font-size: 18px;
    margin-bottom: 22px; }
  .feedback p {
    margin-bottom: 16px; }
  .feedback span {
    display: block;
    text-align: right;
    color: rgba(61, 17, 1, 0.75); }
  .feedback li {
    width: 33.33333%;
    float: left;
    padding-right: 10px; }
    .feedback li .imgBox {
      width: 67px;
      height: 67px;
      float: left;
      border-radius: 60px;
      overflow: hidden; }
    .feedback li .textBox {
      max-width: 300px;
      padding-left: 79px; }
  @media (max-width: 767px) {
    .feedback li {
      width: 80%;
      margin: 0 auto;
      float: none;
      margin: 0 auto 30px auto; }
      .feedback li .textBox {
        max-width: 100%;
        padding-left: 79px; } }
  @media (max-width: 415px) {
    .feedback li {
      width: 100%; } }

.reserve {
  background: rgba(250, 250, 250, 0.7);
  padding-top: 50px;
  padding-bottom: 50px; }
  .reserve h4 {
    font-size: 24px;
    margin-bottom: 38px;
    line-height: 32px; }
  .reserve .imgBox {
    max-width: 460px; }
    @media (max-width: 768px) {
      .reserve .imgBox {
        max-width: 363px;
        height: 386px;
        overflow: hidden; }
        .reserve .imgBox img {
          max-width: 460px;
          height: 386px; } }
    @media (max-width: 668px) {
      .reserve .imgBox {
        float: none;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 460px; } }

.reserveForm {
  position: relative;
  padding-left: 480px;
  color: #3D1101; }
  @media (max-width: 768px) {
    .reserveForm {
      padding-left: 383px; } }
  @media (max-width: 668px) {
    .reserveForm {
      padding-left: 0;
      margin: 0 auto;
      max-width: 460px; } }
  .reserveForm .submit {
    background: #F56C23; }
    .reserveForm .submit:hover {
      background: #ff9797; }
  .reserveForm span {
    margin-top: 5px;
    margin-bottom: 10px;
    display: block; }
  .reserveForm label {
    margin-bottom: 6px;
    display: block;
    font-size: 14px; }
  .reserveForm input {
    padding: 8px 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC; }
    .reserveForm input[type=text] {
      width: 100%; }
    .reserveForm input[type=email] {
      width: 100%; }
    .reserveForm input[type=radio] {
      margin-right: 36px; }
  .reserveForm button {
    padding: 10px 22px;
    margin-left: 11px; }
    .reserveForm button:hover {
      background: #ff9797; }
  .reserveForm .submitButtons {
    position: absolute;
    bottom: 0;
    right: 0; }
    @media (max-width: 668px) {
      .reserveForm .submitButtons {
        position: relative;
        float: right;
        margin-top: 30px; } }

/*cart content------*/
.cart_content {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 415px) {
    .cart_content {
      padding-bottom: 0; } }

.left {
  float: left; }

.right {
  float: right; }

.sidebar {
  float: left;
  width: 220px; }
  .sidebar h5 {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 32px; }
  .sidebar .category li {
    border-bottom: 1px solid #3D1101; }
    .sidebar .category li a {
      display: block;
      padding: 3px 5px;
      line-height: 32px; }
  .sidebar .category a:hover, .sidebar .category a.active {
    background: #3D1101;
    color: #fff; }
  @media (max-width: 415px) {
    .sidebar {
      float: none;
      width: 100%;
      background: #EFE9E7 100%;
      margin-bottom: 25px; } }

/*右半邊*/
.cart {
  margin-left: 240px; }
  @media (max-width: 415px) {
    .cart {
      margin-left: 0px; } }

.toolbar {
  margin-bottom: 25px; }
  @media (max-width: 900px) {
    .toolbar {
      max-width: 480px; } }

.searchbar {
  position: relative;
  display: inline-block;
  width: 65.714%; }
  .searchbar input {
    border: 2px solid #3D1101;
    height: 26px;
    width: 96%; }
  .searchbar button {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    padding: 0;
    background: #3D1101;
    border-radius: unset; }
  @media (max-width: 415px) {
    .searchbar {
      width: 100%;
      margin-bottom: 15px; } }

ul.pay {
  float: right; }
  ul.pay li {
    float: left;
    padding-right: 20px;
    border-right: 1px solid #3d1101;
    padding: 0 10px;
    line-height: 30px; }
    ul.pay li:last-child {
      border: none; }
  ul.pay .fa-shopping-cart {
    font-size: 20px; }

/*商品列表*/
.itemList {
  margin-right: -20px; }
  .itemList:last-child {
    margin-bottom: 0; }
  .itemList li {
    background: rgba(250, 250, 250, 0.7);
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 220px;
    height: 280px;
    text-align: center;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16); }
    .itemList li:last-child {
      margin-bottom: 0; }
    .itemList li h3 {
      font-size: 20px; }
      .itemList li h3 span {
        font-size: 12px; }
      .itemList li h3 hr {
        display: block;
        width: 90px;
        color: #3D1101;
        border-top: 1px;
        margin-bottom: 20px; }
    .itemList li span.price {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
      display: block; }
    .itemList li .addToCart {
      display: block;
      width: 200px;
      margin: 0 auto;
      font-size: 16px;
      color: #FF5E45;
      border: 2px solid #FF5E45;
      padding: 5px 50px; }
    .itemList li .imgBox {
      width: 220px;
      height: 120px;
      overflow: hidden;
      /*background:url(../assets/product_1.png);
				background-repeat: no-repeat;*/
      margin-bottom: 15px; }
      .itemList li .imgBox img {
        height: 100%;
        max-width: 300px;
        margin-left: -10px; }
    .itemList li .loveBox {
      position: absolute;
      /*background: #fff;*/
      z-index: 5;
      top: 9px;
      left: 18px; }
      .itemList li .loveBox img {
        width: 23px;
        height: 20px; }
  @media (max-width: 415px) {
    .itemList {
      margin-top: 30px; }
      .itemList li {
        width: 300px;
        margin: 0 auto;
        float: none;
        margin-bottom: 30px; }
        .itemList li .imgBox {
          width: 300px; }
          .itemList li .imgBox img {
            margin-left: 0px; } }

/*login content------*/
.login_content {
  padding-top: 50px;
  padding-bottom: 50px; }
  .login_content h1 {
    text-align: center;
    background: url(../assets/logo_l.svg);
    width: 243px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 8px; }
  .login_content h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center; }

.loginBox {
  margin: 0 auto;
  width: 300px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 8px 15px 3px 15px;
  padding-bottom: 3px;
  border-top: 3px solid #F56C23; }
  .loginBox form legend {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #3D1101; }
  .loginBox form label {
    margin-top: 16px;
    color: #3D1101; }
  .loginBox form a {
    font-size: 14px;
    display: table;
    margin-bottom: 32px; }
  .loginBox form .pure-button {
    padding: 6px 45px; }
  .loginBox form input[type=password] {
    width: 100%;
    padding: 0 20px 0 40px;
    line-height: 32px; }
  .loginBox form input[type=email] {
    width: 100%;
    padding: 0 20px 0 40px;
    line-height: 32px; }
  .loginBox form i {
    color: rgba(61, 17, 0, 0.5); }
  .loginBox form .emailBar {
    position: relative; }
    .loginBox form .emailBar i {
      position: absolute;
      left: 10px;
      top: 30px; }
  .loginBox form .passwordBar {
    position: relative; }
    .loginBox form .passwordBar i {
      position: absolute;
      left: 11px;
      top: 30px;
      font-size: 18px; }
