/*--layout-----------*/
//header
 .header{
	height: 420px;
	background:url(../assets/header_desktop.png);
	background-repeat: no-repeat;
	h1{
    	float: left;
		background:url(../assets/logo_w.svg);
		background-repeat: no-repeat;
		width: 120px;
		height: 24px;
		margin-top: 16px;
		margin-bottom: 0;
    }
    @include pad{
    	background-position: 48% 0%;
    }
    @include mobile{
    	background:url(../assets/header_mobile.png);
    	background-position: 0% 0%;
    	h1{
    		br{
    			display: block;
    		}
    	}
    }
  }
  .topbar{
	  background:rgba(0,0,0,.75);
   }
  .topmenu{
	float: right;
		li{
		float: left; 
			a{	
				display: block;
				font-size: 16px;
				padding: 18px 10px;
				color: $white;
			}
		}
  }
  .banner{
  	   @include mobile{
			padding-left: 2.5%;
			padding-right: 2.5%;
		}
  }
  .banner-textBox{
		max-width: 460px;
		margin: 67px auto 0 auto;
		padding: 20px 22px 20px 24px;
		background: rgba(0,0,0,0.35);
		color: $white;
		text-align: center;
		
		h2{
			font-size: 36px;
		    margin-bottom: 16px;
		    line-height: 1.2em;
		    @media(max-width: 376px){
				font-size: 32px;
			}
		}
		p{
			line-height: 1.2em;
			color:$white;
			
		}
		.fa-cutlery{
			margin-right: 5px;
			margin-left: 5px;
		}

		.line-break{
			display: none;
			content: "";
		}
		@include mobile{
			padding: 20px 8spx;
			.line-break{
				display:block;
			}
		}


		
  }
//footer
 .footer{
	padding-top: 54px;
	padding-bottom: 70px;
	h1{
		width: 245px;
		height: 49px;
		background:url(../assets/logo_l.svg);
		background-repeat: no-repeat;
		margin-bottom: 22px;
		margin-top: 0;
	}
	h4{
		font-size: 24px;
	    margin-bottom: 22px;
	    text-align: left;

	    display: table;
	  }
 }
 .info{
	li{
		float: left;
		max-width: 320px;
		@media(max-width: 860px){
			max-width:235px;
		}
		
	}
	.about{
		padding-right: 22px;
	}
	.contact{
		max-width:205px;
		ul{
			max-width: 220px;
			list-style: disc;
			list-style-position:inside;
			display: inline-block;
			li{
				margin-bottom: 5px;
			}
		}
	}
	.rightBox{
		float: right;
		text-align: right;
	 }
	 .mediaBox{
		margin-right: 3px;
		img{
			margin-left: 11px;
			width: 31px;
		}
	 }
	@media(max-width: 737px){
		&>li{
			float: none;
			max-width:80%;
			margin: 0 auto;
			
		}
		.about{
			margin-bottom: 30px;
		}
		.contact{
			max-width:80%;
			margin: 0 auto 40px auto;
		}
		.rightBox{
			/*max-width: 80%;
			margin: 0 auto;
			float: right;
			text-align:left;*/
		}
		.mediaBox{
			margin-right: 0px;
			img{
				margin-left: 0px;
			}
	 	}
	}

 }
 

