/*-------mixin 常用技巧-------*/

@mixin clearfix{
	content: "";
	display: block;
	clear: both;
}

@mixin hide-text{
	overflow: hidden;
	text-indent:110%;
	white-space: nowrap;
}


.clearfix::after{
	@include clearfix;
}
.hide-text{
	@include hide-text;
}

/*-------mixin 斷點-------*/
@mixin pad{
	@media(max-width: 768px){
		@content
	}
}
@mixin mobile{
	@media(max-width: 415px){
		@content
	}
}