
//submit buttons

button[type=submit] {
		margin: 0;
		padding: 6px 22px;
	    cursor:pointer;
	    background: rgba(0,0,0,0.35);
	    border:0 none;
	    border-radius: 5px;
	     -webkit-border-radius: 5px;
	    box-shadow: none;
	    color: #fff;
	    display: inline-block;
	}