//variable
@import "variable";
@import "reset"; 
@import "mixin";
@import "modules";
@import "layout";
//utilities
	* {
	  box-sizing: border-box;
	  -webkit-box-sizing: border-box; }

	body {
	  font-family: 'MicrosoftJhengHeiRegular',微軟正黑體, sans-serif; }

	h1{
		margin: 0;
	}
	h3,h4,h5,h6,p,li,a{
	  color: $darkcoffee;
	}
	h3,h4,h5{
		text-align: center;
		font-weight: bold;
	}
	p{
		line-height: 1.2em;
	}
	.wrap{
		position: relative;
	}
	.max-width{
		max-width: 1024px;
		margin: 0 auto;
	}
	.fixed-width{
		padding-left: 42px;
		padding-right: 42px;
		@include pad(){
			padding-left: 1.8%;
			padding-right: 1.8%;
		}
		@include mobile{
			padding-left: 3%;
			padding-right: 3%;
		}

	}
	.imgBox{
		 float: left;
	}
	.inline-block{
		display: inline-block !important;
	}
	.border-none{
		border: none !important;
	}
	.float-left{
		float: left;	
	}
	.float-right{
		float: right;	
	}
	.no-margin-bottom{
		margin-bottom: 0;
	}
/*index content------*/
//row-secret
	 .secret{
	     padding-top:50px;
	 	 padding-bottom: 50px;

	     h4{
 		    margin-bottom: 30px;
 		    font-size: 20px;
 		    line-height: 32px;
	 	 }
	 	 li{
	 		width: 33.33333%;
	 		float: left;
	 		padding-left: 30px;
	 		padding-right: 30px;
	 		h5{
	 			font-size: 18px;
	 			margin-bottom: 11px;
	 		}
	 		.imgBox{
	 			float: none;
				margin: 0 auto 24px auto;
	 			max-width: 200px;
	 			height: 200px;
	 			border-radius: 100px;
	 			overflow: hidden;
	 		}
	     }
	     @media(max-width: 668px){
	     	
			li{
				width: 100%;
				margin:0 auto 30px auto;
				//margin-bottom: 30px;
				h5{
					margin-top: 35px;
		 			margin-bottom: 15px;
		 			text-align: left;
		 			padding-left: 225px;
		 		}
		 		p{
					padding-left: 225px;
		 		}
		 		.imgBox{
		 			float: left;
					margin: 0 0 24px 0;
		 			max-width: 200px;
		 			height: 200px;
		 			border-radius: 100px;
		 			overflow: hidden;
		 		}
	
			}
	     }
	     @media(max-width: 500px){
			li{
				float: none;
				h5{
		 			text-align: center;
		 			padding-left: 0px;
		 		}
		 		p{
					padding-left: 0px;
		 		}
				.imgBox{
		 			float: none;
					margin: 0 auto 24px auto;
		 			max-width: 200px;
		 			height: 200px;
		 			border-radius: 100px;
		 			overflow: hidden;
		 		}
			}


		  }
		  @include mobile{

		  }	
	 }
//row-todayChef
     .todayChef{
		.imgBox{
			max-width: 470px;
			height: 460px;
			float: left;
			overflow: hidden;
			@media(max-width: 890px){
				img{
					max-width: 470px;
					margin-left: -100px;
				}
			}
			@media(max-width: 767px){
				float: none;
				margin-left: -1.8%;
				margin-right: -1.8%;
				max-width: 103.6%;
				img{
					margin-left: 0px;
					width: 100%;
					max-width: 100%;
				}
			}
			@include mobile{
				margin-left: -3%;
				margin-right: -3%;
				max-width: 106%;
				img{
					width: 490px;
					max-width: 490px;
					margin-left: -75px;
				}
			}

			
			
		}
		.textBox{
		 	padding: 80px 0 30px 495px;
		 	//max-width: 410px;
		 	
			h6{
				color:#EFE9E7;
				margin-bottom: 16px;
			}
			p{
				
				color:#EFE9E7 ;

			}
			@media(max-width: 890px){
				padding: 60px 0 30px 395px;
			}
			@media(max-width: 767px){
				padding: 50px 0 30px 0px;
				margin: 0 auto;
				max-width: 80%;
			}
			@include mobile{
				padding-bottom: 50px;
			}
			
		}

      }
//row-feedback
	.feedback{
		padding:50px 0;

		h4{
			margin-bottom: 32px;
			font-size: $font-l;
			text-align: center;
		}
		h6{
			font-size: 18px;
			margin-bottom: 22px;
		}
		p{
			margin-bottom: 16px;

		}
		span{
				display: block;
				text-align: right;
				color:rgba(61,17,1,0.75);
			}
		
		li{
			width: 33.33333%;
			float: left;
			padding-right: 10px;
			.imgBox{
				width: 67px;
				height: 67px;
				float: left;
				border-radius: 60px;
				overflow: hidden;
			}
			.textBox{
				max-width: 300px;
				padding-left: 79px;
				//float: left;
			}
			@include pad{

			}
		}
		
		@media(max-width: 767px){
			li{
				width: 80%;
				margin: 0 auto;	
				float: none;
				margin: 0 auto 30px auto;
				.textBox{
					max-width:100%;
					padding-left: 79px;
				}
			}
		}
		@include mobile{
			li{
				width: 100%;
				
			}
		}
	}
//row-reserve
	.reserve{
		background: rgba(250,250,250,0.70);
		padding-top: 50px;
		padding-bottom: 50px;
		h4{
			font-size: $font-l;
			margin-bottom: 38px;
			line-height: 32px;
		}
		.imgBox{
			max-width: 460px;
			@include pad{
				max-width: 363px;
				height: 386px;
				overflow: hidden;
				img{
					max-width: 460px;
					height: 386px;
				}
			}
			@media(max-width: 668px){
				float: none;
				margin: 0 auto;
				margin-bottom: 30px;
				max-width: 460px;
			}
			@include mobile{
				
			}


		}
	}
	.reserveForm{
		position: relative;
		padding-left: 480px;
		color: $darkcoffee;
		@include pad{
			padding-left: 383px;
		}
		@media(max-width: 668px){
			padding-left: 0;
			margin: 0 auto;
			max-width: 460px;
		}
		.submit{
			background:	$orange;
			&:hover{
				background:#ff9797;
			}
		}
		
		span{
			margin-top: 5px;	
			margin-bottom: 10px;
			display: block;
		}

		label{
			margin-bottom: 6px;
			display: block;
			font-size: 14px;
		}
		input{
			padding: 8px 12px;
			margin-bottom: 12px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: inset 0px 1px 0px 0px #ECECEC;
			-webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
			&[type=text] {
				width: 100%;
			}
			&[type=email] {
				width: 100%;
			}
			&[type=radio] {
				margin-right: 36px;
			}
		}
		button{
    		padding: 10px 22px;
			margin-left: 11px;
			//float: right;
			&:hover{
				background:	#ff9797;
			}
		}
		.submitButtons{
			position: absolute;
			bottom: 0;	
			right: 0;	
			@media(max-width: 668px){
				position: relative;
				float: right;
				margin-top: 30px;
			}
		}

	}

/*cart content------*/
   .cart_content{
   		//background: rgba(250,250,250,0.70);
   		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 20px;
		border-bottom: 1.5px dotted rgba(61,17,0,0.3);
		@media(max-width:735px){
			padding-right: 1.8%;
		}
		@include mobile{
			padding-bottom: 0;
			padding-right: 3%;
		}
		
   }
   		.left{
			float: left;
			}
		.right{
			float: right;
		}
	

	.sidebar{
		//position: absolute;
		position: fixed;
		width: 220px;
		h5{
			margin-bottom: 16px;
			font-size: 20px;
			line-height: 32px;
		}
		.category{
			li{
				border-bottom: 1px solid #3D1101;
				a{	
					display: block;
					padding: 3px 5px;
					line-height: 32px;
				}
			}
			li.active{
				a{
					background:$darkcoffee;
					color: #fff;
				}
				
			}
			li:hover{
				a{
					background:$orange;
					color: #fff;
				}
			}
		}
		
		@media(max-width:569px){
			position: relative;
			float: none;
			width: 100%;
			background:#EFE9E7 100%;
			margin-bottom: 25px;
		}
		@include mobile{
			/*float: none;
			width: 100%;
			background:#EFE9E7 100%;
			margin-bottom: 25px;*/
		}
		
	}

	/*右半邊*/

	.cart{
		margin-left: 240px;
		
		@media(max-width:569px){
			margin-left: 0px;
		}
		@include mobile{
			//margin-left: 0px;
		}
	}

	.toolbar{
		margin-bottom: 25px;

		@media(max-width: 900px){
			max-width: 480px;
		}
		@media(max-width:569px){
			max-width: 100%;
		}
	}
	.searchbar{
		position: relative;
		display: inline-block;
		width: 65.714%;	

		input{
			
			border: 2px solid #3D1101;
			height:26px;
			width: 94%;
			padding-left: 10px;
			&:focus{
		  	 
			 }
		}
		button{
			position: absolute;
			top: 0;	
			right: 0;	
			width: 36px;	
			height: 32px;	
			padding: 0;
			background:	$darkcoffee;
			border-radius: unset;
			&:hover{
			  	background:$firebrick;
			  }
		}
		@media(max-width:735px){
			width: 300px;
			margin-bottom: 15px;
		}
		@media(max-width:569px){
			width: 100%;
		}
		@include mobile{
			
		}
	}
	/*購物車*/
		ul.pay{
			margin-right: 25px;
			float: right;	
			li{
				float: left;	
				padding-left: 10px;
				line-height: 30px;
				&:last-child{
					border: none;
				}

				a:hover{	
			  		color:$firebrick;
				}
			}
			//麵包屑
			.breadcrumb::after{
				content: "";		
				border-right: 1px solid #3d1101;
				padding-left: 10px;
			}

			.fa-shopping-cart{
				font-size: 	30px;
				position: relative;
				&:hover{
				  	color:$firebrick;
				  	font-size: 30px;
				  }
				.cartNum{
					width: 15px;
					height: 15px;
					position: absolute;
					border-radius: 10px;
					background:#FF5E45;
					top: 0;
					right: -6px;
					border:1px solid $lightgray;
					color:#fff;
					font-size: 12px;
					text-align: center;
					line-height: 12px;
				}
			}
			@media(max-width:735px){
				margin-right: 0;
				
			}
			@media(max-width:690px){
				float: left;
				margin-left: 190px;
			}
			@media(max-width:569px){
				float: right;
				margin-left: 0px;
			}
			@include mobile{
				
			}
		}
	


	/*商品列表*/
	.itemList{
		margin-right: -20px;	
		&:last-child{
			margin-bottom: 0;
		}
		li{
			background:rgba(250, 250, 250, 0.7);
			position: relative;
			float: left;
			margin-right: 20px;
			margin-bottom: 30px;	
			width: 220px;
			height: 280px;
			text-align: center;
			box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
			-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
			&:last-child{
				margin-bottom: 0;
			}
			h3{
				font-size: 20px;
				span{
					font-size: 12px;
				}
				hr{
					display: block;
					width: 90px;
					color: $darkcoffee;
					border-top:1px;
					margin-bottom: 20px;

				}
			}
			span.price{
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 16px;
				display: block;
			}
			.addToCart{
				display: block;
				width: 200px;
				margin: 0 auto;
				font-size: 16px;
				color: #FF5E45;
				border:2px solid #FF5E45 ;
				padding: 5px 50px;
				&:hover{
					background:#FF5E45;
					color:white;
				}
			}
			.inCart{
				background:#FF5E45;
				color:white;
			}
			.imgBox{
				width: 220px;
				height: 120px;
				overflow: hidden;
				/*background:url(../assets/product_1.png);
				background-repeat: no-repeat;*/
				margin-bottom: 15px;
				img{
					height: 100%;
					max-width: 300px;
					margin-left: -10px;
				}

			}
			.loveBox{
				position: absolute;
				background: url(../assets/heart_line.svg);
				width: 25px;
				height: 22px;
				background-repeat: no-repeat;
				z-index: 5;
				top: 9px;
				left: 18px;
				img{
					width: 23px;
					height: 20px;
				}
			}
			.heart_w{
				background: url(../assets/heart_w.svg);
				background-repeat: no-repeat;
			}
		}
		@media(max-width:735px){
			margin-right: 0;
			margin-top: 30px;
			li{
				width: 300px;
				float: none;
				margin-right: 0;
				.imgBox{
					width: 300px;
					img{
						margin-left: 0px;
					}
				}
			}
		}
		@media(max-width:569px){
			li{
				margin: 0 auto 30px auto;
			}
		}	
	}
	.c_hamburgers, .c_franch_fries, .c_instant{
		display: none;
	}

/*login content------*/
   .login_content{
   		padding-top: 50px;	
   		padding-bottom: 50px;	
   		
	   	h1{
	   		text-align: center;
	   		background:	url(../assets/logo_l.svg);
	   		width: 243px;	
	   		height: 48px;	
	   		margin: 0 auto;	
	   		margin-bottom: 8px;
	   	}
	   	h4{
	   		font-size: 20px;
	   		font-weight: bold;
	   		margin-bottom: 35px;	
	   		text-align: center;
	   	}
   }
   .loginBox{
   		margin: 0 auto;	
	   	width: 300px;	
	    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	    padding: 8px 15px 3px 15px;	
	    padding-bottom: 3px;	
	    border-top: 3px solid $orange;
	    form{
	    	legend{
		    	//font-family: NotoSansCJKtc-Black;
		    	font-weight: bold;	
		    	text-align: center;	
				font-size: 18px;
				color: #3D1101;
			}
			label{
				margin-top: 16px;	
				color: $darkcoffee;
			}
			a{
				font-size: 14px;	
				display: table;
				margin-bottom: 	32px;
			}

			.pure-button{
				padding: 6px 45px;
				&:hover{
					background:#ff9797;
				}
			}
			input[type=password]{
				width: 100%;	
    			padding: 0 20px 0 40px;
    			line-height: 32px;
			}input[type=email]{
				width: 100%;	
    			padding: 0 20px 0 40px;
    			line-height: 32px;
			}
			i{
				color: rgba(61,17,0,0.50);
			}
			.emailBar{
				position: relative;
				i{
					position: absolute;
					left: 10px;
					top: 30px;
				}
			}
			.passwordBar{
				position: relative;
				i{
					position: absolute;
					left: 11px;
					top: 30px;
					font-size: 18px;
				}
			}
			
	    }
	   
   }

	
				 



