//variable
@import "variable";
@import "reset"; 
@import "mixin";
//main
	* {
	  box-sizing: border-box;
	  -webkit-box-sizing: border-box; }

	body {
	  font-family: 'MicrosoftJhengHeiRegular', sans-serif; }



//layout
	.max-width{
		width: 100%;
	}
	.fixed-width{
		max-width: 1024px;
		padding-left: 42px;
		padding-right: 42px;
		margin: 0 auto;
	}

  //header
    .header{
    	
    	height: 420px;
    	background:url(../assets/header_desktop.png);
    	background-repeat: no-repeat;
    }
    .topbar{
    	background:rgba(0,0,0,.75);
    }
    .header h1{
    	float: left;
		background:url(../assets/logo_w.png);
		background-repeat: no-repeat;
		height: 24px;
		padding-top:16px;
		padding-bottom:16px;
    }
    .topmenu{
    	float: right;
 		li{
			float: left; 
			a{
				font-size: 16px;
				padding: 18px 10px;
				color: $white;
			}
 		}
    }